.col-sm-7.col-md-6.col-lg-6
  #description.description
    %p
      Cats are about to be banned from the internet
      by a bunch of people who don't know how the internet works!

    %h4
      Do Something Quick!

    %ul
      %li Sign the petition (500pts)
      %li Leave a voicemail with your congress persons (1,000pts)
      %li Link this page to everyone you know (10,000pts!)
