.redtop
  .container
    .row
      .col-sm-6.col-lg-6
        %h1 Stop the "Cat Grabbers"
        .figure
          %img#sad_cat{src:"/images/Sad-Cat-1_s.jpg", width:265, height:179}
        .short-description
          %p Our congress members are not even cognizant of what they're about to do.

  %svg.triangle{:preserveaspectratio => "none", :viewbox => "0 0 24 23.8"}
    %use{"xlink:href" => "#triangle"}
