.col-xs-12.col-sm-5.col-md-6.col-lg-6.pull-right.tools-wrapper
  #tools
    #tweet-tool.tool
      .tool-container
        .tool-heading
          %h3.tool-title
        .tool-body
          = render 'pages/signature_form.html.haml'

        .left-justify
          = render 'pages/signature_stats.html.haml'

    #share-buttons-wrapper
      #share-buttons
        %a.twitter-button.social-count{:count => "0", "data-network" => "twitter", :target => "_blank",
          :href => "https://twitter.com/intent/tweet?status=http%3A%2F%2F45.55.12.73/+via+%40eff&related=eff,efflive"}
          #stwit.sicon
        %a.social-count.facebook-button{:count => "0", "data-network" => "facebook", :target => "_blank",
          :href => "https://www.facebook.com/sharer/sharer.php?app_id=97703891945&u=http://45.55.12.73&display=popup"}
          #sfb.sicon
        %a.social-count.google-button{:count => "0", "data-network" => "googleplus", :target => "_blank",
          :href => "https://plus.google.com/share?url=http://45.55.12.73"}
          #sgplus.sicon
