%h1 Admin Page

.row.admin-blocks
  .col-md-4
    %h6 New Signatures
    .row
      Last 7 Days:
      = @signatures_this_week
    .row
      Last 24 Hours:
      = @signatures_today
    .row
      Last Hour:
      = @signatures_this_hour
    .row
      %br
    .row
      Growth Rate Today:
      = @growth_today

  .col-md-3
    %h6 Command View
    .row
      Total Signers:
      =@total_signers
    .row
      =link_to "Download Email List", "/signatures.json"
    .row
      =link_to "Heat Map", "/pages/heat_map", class: 'hidden'
    .row
      =link_to "Time Line", "/pages/time_line", class: 'hidden'

  .col-md-3
    %h6 Database Inspection
    .row
      =link_to "Inspect Signatures", signatures_path
