%meta{:content => "Stop the Cat Grabbers!", :name => "description"}/
%meta{:content => "https://www.facebook.com/eff", :property => "article:publisher"}/

= @twitter_card
= @google_card

= render 'pages/signature_panel.html.haml'
= render 'pages/description.html.haml'
