# Add configuration values here, as shown below.
#

secret_key_base: "b5ccd5e1f41db78c779ef4ad6b85da75a2664d6469bc1c91f30c3671b43e93b09ccd37236dfe8f6645460550d382abcc39b7c7984fddc26e2a3c64272c79dcc6"

# this is the admin password when populate_database is invoked
admin_email: "admin@eff.org"
admin_password: "password"

# this is the auth token to connect with the faye sub/pub server
# There isn't any error notice if you get this wrong...
save_kittens_faye_token: "SAVE_KITTENS_FAYE_TOKEN"

# fayecom Settings
fayecom_address: '127.0.0.1'
fayecom_http_port: '8000'
fayecom_https_port: '8001'
fayecom_protocol: 'http'


########################
# Environment Specific #
########################

production_base: &production_base
  fayecom_address: 'fayecom.xref.local'
  fayecom_http_port:  '80'
  fayecom_https_port: '443'
  fayecom_protocol: 'https'
  db_adapter: 'postgresql'
  db_encoding: 'utf8'
  db_database: 'save_kittens_prod'
  db_username: 'save_kittens'
  db_password: 'plkajsdfjsdaflijsdfCVJKkjd'
  db_host: '127.0.0.1'
  db_port: 5432

production:
  <<: *production_base
