/* This section was once inline */

.redtop {
  background: #000 image-url("CISA-banner-1.png") center no-repeat;
  background-size: cover;
  padding-top: 5em !important;
}
.navbar-wrapper {
  background-color: transparent !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}
.navbar-wrapper .navbar-inverse {
  background-color: transparent !important;
}
.navbar-wrapper .horiz-rule {
  background-color: #fff !important;
  opacity: 0.3 !important;
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
}
.left-justify {
  text-align:left;
}



/*** uncss> filename: http://127.0.0.1:3000/assets/stolen.css?body=1 ***/

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/roboto-webfont/Roboto-Regular-webfont-982c1440d76bdf9c781be3fbf40f27e3.eot);
  src: url(/assets/roboto-webfont/Roboto-Regular-webfont-982c1440d76bdf9c781be3fbf40f27e3.eot?#iefix) format("embedded-opentype"),font-url("roboto-webfont/Roboto-Regular-webfont.woff") format("woff"),url(/assets/roboto-webfont/Roboto-Regular-webfont-d7f118c4c249363f22b2bc12d7af2173.ttf) format("truetype"),url(/assets/roboto-webfont/Roboto-Regular-webfont-604396f7d22e36e5506bade70be5f934.svg#Roboto) format("svg");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: url(/assets/roboto-webfont/Roboto-Bold-webfont-af8fd2a8502525f0d02421045f60df70.eot);
  src: url(/assets/roboto-webfont/Roboto-Bold-webfont-af8fd2a8502525f0d02421045f60df70.eot?#iefix) format("embedded-opentype"),font-url("roboto-webfont/Roboto-Bold-webfont.woff") format("woff"),url(/assets/roboto-webfont/Roboto-Bold-webfont-9fe6ddd9b70cd85c6f95f0841a0c1cbb.ttf) format("truetype"),url(/assets/roboto-webfont/Roboto-Bold-webfont-f085cfed890fa284a394fef4f39dedbf.svg#Roboto) format("svg");
}

@font-face {
  font-family: Roboto;
  font-weight: regular;
  font-style: italic;
  src: url(/assets/roboto-webfont/Roboto-Italic-webfont-a5f891d06e86bb78d47e41ac940d1dd6.eot);
  src: url(/assets/roboto-webfont/Roboto-Italic-webfont-a5f891d06e86bb78d47e41ac940d1dd6.eot?#iefix) format("embedded-opentype"),font-url("roboto-webfont/Roboto-Italic-webfont.woff") format("woff"),url(/assets/roboto-webfont/Roboto-Italic-webfont-8f6eb5b951b80fb198f312f773d60937.ttf) format("truetype"),url(/assets/roboto-webfont/Roboto-Italic-webfont-f314702b453e5a38986070fa7d901f30.svg#Roboto) format("svg");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  src: url(/assets/roboto-webfont/Roboto-BoldItalic-webfont-c28dd5ff967a8158109cbda644382d57.eot);
  src: url(/assets/roboto-webfont/Roboto-BoldItalic-webfont-c28dd5ff967a8158109cbda644382d57.eot?#iefix) format("embedded-opentype"),font-url("roboto-webfont/Roboto-BoldItalic-webfont.woff") format("woff"),url(/assets/roboto-webfont/Roboto-BoldItalic-webfont-c2fe09eb28a900f7166f942be5b6e1d2.ttf) format("truetype"),url(/assets/roboto-webfont/Roboto-BoldItalic-webfont-f84e46a1dce57bffcb7a185f626e645f.svg#Roboto) format("svg");
}

@font-face {
  font-family: 'eff-icon-font';
  src: url("/assets/eff-icon-font-087372bd37b5e0c8f9a59f0a67922841.eot");
  src: url("/assets/eff-icon-font-087372bd37b5e0c8f9a59f0a67922841.eot#iefix") format("embedded-opentype"),font-url("eff-icon-font.woff") format("woff"),url("/assets/eff-icon-font-e27dcffcb945a358d63a76e26de4e4b2.ttf") format("truetype"),url("/assets/eff-icon-font-557d9e0b6d9bd0b9be7ed8d4aae25fca.svg#eff-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-cc:before,
.icon-eff-action-logo:before,
.icon-eff-logo:before {
  font-family: "eff-icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc:before {
  content: '\e803';
}

.icon-eff-action-logo:before {
  content: '\e816';
}

.icon-eff-logo:before {
  content: '\e817';
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.53;
  color: #333333;
  background-color: white;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #cc0000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: maroon;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h3,
h4 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}

h1,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-md-1,
.col-md-2,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-sm-7,
.col-md-7,
.col-md-8,
.col-sm-9,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-3,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-9 {
    float: left;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-6,
  .col-md-7,
  .col-md-8 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
    float: left;
  }

  .col-lg-6 {
    width: 50%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.collapse {
  display: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 55px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-inverse {
  background-color: #cc0000;
  border-color: #090909;
}

.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #dddddd;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #333333;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inverse .navbar-collapse {
  border-color: #a80000;
}

.navbar-inverse .navbar-link {
  color: white;
}

.navbar-inverse .navbar-link:hover {
  color: #dddddd;
}

.pull-right {
  float: right !important;
}

.hidden {
  display: none !important;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body>.wrapper {
  position: relative;
  min-height: 100%;
}

#content {
  padding-bottom: 210px;
}

label {
  font-weight: normal;
}

ul li {
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

.nav>li {
  margin-bottom: 0;
}

.nav>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-wrapper {
  background: #cc0000;
}

.navbar-wrapper .navbar-inverse {
  border: 0;
  background-color: #cc0000;
  background-image: none;
}

.navbar-wrapper .navbar {
  font-size: 13px;
  margin-bottom: 0px;
  z-index: 102;
}

.navbar-wrapper .navbar-right {
  margin-top: 4px;
}

.navbar-wrapper .horiz-rule {
  background-color: #C40B02;
  height: 1px;
}

.navbar-wrapper .navbar-brand {
  height: auto;
  padding-top: 14px;
  padding-bottom: 10px;
}

.navbar-wrapper .icon-eff-action-logo {
  color: #fff;
  font-size: 29px;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

.redtop {
  background-color: #cc0000;
  color: #fff;
}

.triangle {
  height: 57px;
  width: 100%;
  fill: #fff;
  display: block;
}

.footer {
  background: #1a1a1a;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 10;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #cc0000;
}

.footer .icon-eff-logo {
  font-size: 30px;
  line-height: 1;
}

.footer .cc-notice {
  font-size: 11px;
}

.footer .cc-notice i {
  font-size: 25px;
}

.footer .triangle {
  fill: #1a1a1a;
  z-index: 10;
  position: relative;
  transform: translate(0, -57px);
}

.footer .container {
  padding-top: 0;
  padding-bottom: 18px;
  background: #1a1a1a;
  margin-top: -10px;
}

.footer .logo a {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer .links {
  text-align: right;
  padding: 0;
  line-height: 40px;
  margin: 0;
  color: #cc0000;
  font-size: 13px;
  padding-top: 5px;
}

.footer .links a {
  margin-right: 13px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.alert-container {
  position: relative;
  height: 0;
  overflow: visible;
}

#share-buttons {
  height: 100px;
}

#share-buttons a {
  margin: 4px;
  width: 54px;
  height: 54px;
  z-index: 0;
  margin-top: 40px;
}

.sicon {
  float: left;
  width: 54px;
  height: 54px;
  background-color: black;
  background-image: image-url("social-icons.png");
}

#share-buttons .sicon {
  margin-top: 2px;
}

#sfb {
  background-position: 70% 0;
}

#sfb:hover {
  opacity: 0.8;
}

#stwit {
  background-position: 50% 0;
}

#stwit:hover {
  opacity: 0.8;
}

#sgplus {
  background-position: 20% 0;
}

#sgplus:hover {
  opacity: 0.8;
}

.social-count {
  display: inline-block;
  position: relative;
}

.social-count:after {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 2px;
  top: -40px;
  color: #444;
  content: attr(count);
  display: block;
  left: 0px;
  width: 54px;
  padding: 5px;
  text-align: center;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
}

.social-count:before {
  border: solid;
  border: 1px solid #fff;
  border-color: #111 transparent;
  border-color: #fff transparent;
  border-width: .4em .4em 0 .4em;
  top: -4px;
  content: "";
  display: block;
  left: 22px;
  position: absolute;
}

.redtop.home .email-signup input::-moz-placeholder {
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}

.redtop.home .email-signup input:-moz-placeholder {
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}

.redtop.home .email-signup input:-ms-input-placeholder {
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}

.redtop {
  padding: 2em 0 0;
}

.redtop h1 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0;
}

.action_page-show .redtop {
  padding-bottom: 0;
}

.short-description {
  font-size: 1.1em;
  margin-top: 2em;
}

#description {
  margin-top: 3em;
}

#description p,
#description li {
  margin-bottom: 1em;
}

.tools-wrapper {
  z-index: 10;
}

#share-buttons-wrapper {
  position: absolute;
  text-align: center;
  right: 20px;
  top: 0px;
}

@media (max-width: 991px) and (min-width: 768px) {
  #share-buttons-wrapper {
    position: relative;
    right: 0;
  }

  #share-buttons-wrapper #share-buttons a {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  #share-buttons-wrapper {
    display: none;
  }
}

#tools .tool {
  background-color: #ffffff;
  margin-bottom: 20px;
  border: solid 1px #cc0000;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

#tools .tool .tool-container {
  padding: 1em 0.4em 0 0.4em;
}

#tools .tool .tool-heading {
  color: #cc0000;
  text-transform: uppercase;
  text-align: center;
}

#tools .tool .tool-heading .tool-title {
  text-transform: none;
  font-size: 1.2em;
  padding: 5px 0 0 0;
  margin: 0;
}

#tools .tool .tool-body {
  padding: 10px;
}

#tools .tool form {
  text-align: left;
}

#tools .tool input[type=submit] {
  width: 100%;
  border: none;
  font-size: 0.9em;
  padding: 10px 0;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#tools .tool input[type=submit]:hover {
  background-color: maroon;
}

#tools #tweet-tool {
  text-align: center;
}

#tools #tweet-tool input[type=submit] {
  margin-top: 0;
}

#tools #tweet-tool #tweet-tool-container {
  margin-top: 20px;
}

@-moz-document url-prefix()  {
  #tools .tool select {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  #tools {
    position: fixed;
    width: 312px;
    padding-right: 25px;
    top: 100px;
  }
}

@media (min-width: 992px) {
  #tools {
    width: 390px;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  #share-buttons {
    position: absolute;
    right: -70px;
  }

  #share-buttons .social-count {
    display: block;
    float: none;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .redtop .container,
  .action-content.container {
    padding-left: 40px;
  }

  #tools {
    width: 390px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  #tools {
    margin-top: 32px;
    margin-bottom: 30px;
  }

  .action-content {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #tools .tool .tool-heading .tool-title {
    font-size: 1.35em;
  }
}

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert button::-moz-focus-inner {
  border: 0;
}
