<% if notice %>
  <div class="row">
    <div class="col-md-6">
      <p class="alert alert-success"><%= notice %></p>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="col-md-6">
      <p class="alert alert-danger"><%= alert %></p>
    </div>
  </div>
<% end %>
